demo.zip
demo/*
**/.vscode/
**/node_modules/
*.code-workspace
.DS_Store
*.drawio.*
build
tester/harmony/react_native_openharmony/
tester/harmony/codegen_sample_package/
tester/harmony/no_codegen_sample_package/
tester-codegen/
*.tgz